{% extends "base.html" %}
{% block content %}
<br>
<div class = 'center'><img style = "width: 20%;height:20%;border:1px navy solid" class = "center" src="https://imgur.com/cuu0IPR.png" alt="Texas Flag"></div>
<h3 class = "center blue-text text-darken-4">Texas Legal Requirements</h3>

<h5 class = 'blue-text text-darken-4'>Legal Limits</h5>
<ul>
    <li>Age: Must be 21 to be able to legally drink</li>
    <li>Time: </li>
</ul>

<ul>For more information, visit these links:
<li>TABC website: https://www.tabc.state.tx.us/</li>
<li>Age requirements: https://www.tabc.state.tx.us/faq/general.asp#age</li>
Hours of sale and consumption: https://www.tabc.state.tx.us/faq/general.asp#hours
Public intoxication: https://www.tabc.state.tx.us/faq/general.asp#intox
</ul>
{% endblock %}