{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class = "blue-text text-darken-4 center">About Safe Night Out</h1>

    <ul class = "blue-text text-darken-4 about-list">
        <li class = 'valign-wrapper'><i class="material-icons">done</i><h6> Track what you drink in real time.</h6></li>
        <li class = 'valign-wrapper'><i class="material-icons">done</i><h6> Estimate your BAC.</h6></li>
        <li class = 'valign-wrapper'><i class="material-icons">done</i><h6> Explore safer options.</h6></li>
        <li class = 'valign-wrapper'><i class="material-icons">done</i><h6> Understand consequences.</h6></li>
        <li class = 'valign-wrapper'><i class="material-icons">done</i><h6> Build healthy drinking habits.</h6></li>
        <br>
        <li class = 'valign-wrapper'><i class="material-icons">home</i><h6> Have a Safe Night Out.</h6></li>
    </ul>
<br>
    <h5 class = 'center'>Safe Night Out is a collaboration between General Assembly Web Development Immersive students Alban Xhalferalli, Gerardo Mendoza, Alexander Perkowski, and Salma Khan.</h5>
</div>
{% endblock %}
