{% extends 'base.html' %}
{% block content %}
<div>
    <h1 class = "blue-text text-darken-4 center">Safe Night Out</h1>
    <ul class = "blue-text text-darken-4"><h3>
        <li><i class="material-icons">done</i>  Track what you drink in real time.</li>
        <li><i class="material-icons">done</i>  Estimate your BAC.</li>
        <li><i class="material-icons">done</i>  Explore safer options.</li>
        <li><i class="material-icons">done</i>  Understand consequences.</li>
        <li><i class="material-icons">done</i>  Build healthy drinking habits.</li>
        <br>
        <li><i class="material-icons">home</i>  Have a Safe Night Out.</li>
    </h3>
    </ul>
</div>
{% endblock %}
