html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.about-list {
    font-size: 100%
}

.card-container {
    display: flex;
    flex-direction: column;
    order: end;
}