html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;

}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.button-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.index-container {
    display: flex;
    flex-direction: column
}

.session-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}